<div class="add-wedding-wrapper">
    <div class="row">

        <div class="col-8 edit-form">
            <form id="add-form">
                <h3>Add A Wedding</h3>

                <div class="form-group">
                    <label for="wedding-hashtag">Enter Wedding Hashtag:</label>
                    <input type="text" class="form-control" id="wedding-hashtag" placeholder="#hashtag">
                    <small class="form-text text-muted">Entering Wedding Hashtag to link to Wedding</small>
                </div>

                <button type="submit" class="btn add-btn edit-hover">Add Wedding<i class="far fa-heart"></i></button> 
            </form>
        </div>

        <div class="col-4 logo-signup-div">
            {{!-- update with logo and remove css for icon on line-ish 142  --}}
            <i class="fas fa-heart"></i>
        </div>
    </div>
</div>

<script src="../../public/javascript/add-invite.js"></script>