<div class="col-8 pre-dashboard-page">

    {{#if engaged}}

        <div class="col-8 pre-dashboard-wrapper">
            <div class="col-4 dashboard-nav-div">
                <div class="profile-pic-div">
                    <img src="#" />
                    {{#each couple}}
                    <h5>{{partner1_name}} & {{partner2_name}}</h5>
                    {{/each}}
                </div>

                <div class="col-6 nav-btns-div">
                    <button class="dashboard-nav-btn btn">My Wedding</button>
                    <button class="dashboard-nav-btn btn">Guest List</button>
                    <button class="dashboard-nav-btn btn">Slide Show</button>
                </div>
            </div>
        </div>
    
    {{/if}}

    {{#unless engaged}}

        <div class="pre-dashboard-wrapper">
            <div class="col-4 dashboard-nav-div">
                <div class="profile-pic-div">
                    <img src="#" />
                    {{#each user}}
                    <h5>{{full_name}}</h5>
                    {{/each}}
                </div>

                <div class="col-6 nav-btns-div">
                    <button class="dashboard-nav-btn btn">Your Weddings</button>
                    <button class="dashboard-nav-btn btn">Slide Show</button>
                </div>
            </div>
        </div>
    
    {{/unless}}
</div>
