{{!-- to display guestlist-items --}}

{{!-- 
<div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">{{wedding_hashtag}}</h5>
    <small>{{wedding_date}}</small>
    </div>
    <p class="mb-1">{{wedding_details}}</p>
    <small>{{wedding_location}}</small>
</div> --}}
