<div class="upload-page-wrapper">
    <div class="upload-form-wrapper">
        <h3>Wedding Galley Upload</h3>
        <p>On this page you can upload images to a wedding gallery created just for you!</p>
        
        {{!-- <form name="gallery" id="uploadImageForm" enctype="multipart/form-data" method="POST">
            <input class="" name="weddingImage" type="file" id="fileImage">
            <input class="" name="upload" type="submit" value="Upload">
        </form> --}}
        <form class="custom-file" name="gallery" id="uploadImageForm" enctype="multipart/form-data" method="POST">
            <input class="custom-file-input" name="weddingImage" type="file" id="fileImage">
            <input class="btn" name="upload" type="submit" value="Upload">
            <label class="custom-file-label" for="fileImage">Choose file</label>
        </form>
    </div>

</div>



{{!-- <p>
    A note to the get hitched crew: cloudinary only handles 50 reqs per month for free. this only most be used for testing and then for presentation. 
</p> --}}

<script src="/javascript/upload.js"></script>