<div class="upload-page-wrapper">
    <div class="upload-form-wrapper">
        <h3>Wedding Galley Upload</h3>
        <p>On this page you can upload images to a wedding gallery created just for you!</p>
        
        <form class="custom-file" name="gallery" id="uploadImageForm" enctype="multipart/form-data" method="POST">
            <input class="custom-file-input" name="weddingImage" type="file" id="fileImage">
            <input class="btn" name="upload" type="submit" value="Upload">
            <label class="custom-file-label" for="fileImage">Choose file</label>
        </form>
    </div>

</div>


<script src="/javascript/upload.js"></script>