<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geddin' Hitched</title>

    <!-- here is our browser icon  -->
    <link rel="icon" type="image/png" href="" />
    <!-- here is bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <!-- here is the icon sheet  -->
    <link href="" rel="stylesheet" />
    <!-- here is our style sheet  -->
    <link rel="stylesheet" href="public/stylesheets/style.css" />
    <link rel="stylesheet" href="public/stylesheets/media.css" />
</head>
<body>

    <header>
        <nav>
            <h1>Geddin' Hitched</h1>
            <div>
                {{!-- this are just placeholders --}}
                <a href="/">Back to Main Page</a>
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
                <a href="/slideshow">Slideshow</a>
                <a href="/dashboard">Dashboard</a>
            </div>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <footer>
        <h2>External Links Can Go Here</h2>
        <a href="https://github.com/ginomaglaqueucla/get-hitched">Github Repo</a>
    </footer>
</body>
</html>