<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geddin' Hitched</title>

    <!-- here is our browser icon  -->
    <link rel="icon" type="image/png" href="" />
    <!-- here is bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <!-- here are the icon and font cdn  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <!-- here is our style sheet  -->
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link rel="stylesheet" href="stylesheets/media.css" />
</head>
<body>
        <header>
            <h1>Geddin' Hitched</h1>
            <nav>
                    {{!-- this are just placeholders --}}
                    <ul class="misc-ul">
                        <li><a href="/">Back to Main Page</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/signup">Signup</a></li>
                        <li><a href="/slideshow">Slideshow</a></li>
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li><button class="btn logout-btn" id="logout-btn">Logout</button></li>
                    </ul>
            </nav>
        </header>

        <main>
            {{{body}}}
        </main>

        <footer>
            <h3>- Thank you -</h2>
            <ul class="misc-ul">
                <li><a href="mailto:fake@email.org">Contact Us</a></li>
                <li><a href="https://github.com/ginomaglaqueucla/get-hitched" target="_blank">Github Repo</a></li>
                <li><a href="#">About the Creators</a></li>
                
            </ul>
        </footer>

    <script src="/javascript/logout.js"></script>
</body>
</html>