{{!-- edit this classes to reflect functionality of page --}}

<div class="edit-wedding-wrapper">
    <div class="row">

        <div class="col-8 edit-form">
            <form id="edit-form">
                <h3>Add A Wedding</h3>
                <div class="form-group">
                    <label for="wedding-hashtag">Enter Your Wedding Hashtag</label>
                    <input type="text" class="form-control" id="wedding-hashtag" placeholder="#yourhashtaghere">
                    <small class="form-text text-muted">RSVP by entering your couples' corresponding Wedding Hashtag</small>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        RSVP?
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Yes</a>
                        <a class="dropdown-item" href="#">No</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Food Choice
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Chicken</a>
                        <a class="dropdown-item" href="#">Steak</a>
                        <a class="dropdown-item" href="#">Fish</a>
                        <a class="dropdown-item" href="#">Veggie</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Plus One
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Yes</a>
                        <a class="dropdown-item" href="#">No</a>
                    </div>
                </div>
                <button type="submit" class="btn edit-btn">Add Wedding <i class="far fa-heart"></i></button>
            </form>
        </div>
        <div class="col-4 logo-signup-div">
            <i class="fas fa-heart"></i>
        </div>
    </div>
    
</div>