<div class="edit-wedding-wrapper">
    <div class="row">

        <div class="col-8 edit-form">
            <form id="edit-form">
                <h3>Enter Your Wedding Information</h3>
                
                <div class="form-group">
                    <label for="wedding-date">Date:</label>
                    <input type="date" class="form-control" id="wedding-date" name="wedding-date" placeholder="MM/DD/YY">
                </div>

                <div class="form-group">
                    <label for="wedding-hashtag">Create A Wedding Hashtag</label>
                    <input type="text" class="form-control" id="wedding-hashtag" placeholder="#yourhashtaghere">
                    <small class="form-text text-muted">Guests will use this id to find and accept invitations</small>
                </div>

                <div class="form-group">
                    <label for="wedding-location">Enter Your Wedding Location:</label>
                    <input type="text" class="form-control" id="wedding-location" placeholder="Torrey Pines Country Club 11480 N Torrey Pines Rd, La Jolla, CA 92037">
                </div>

                <div class="form-group">
                    <label for="wedding-details">Enter Your Wedding Details:</label>
                    <textarea type="text" class="form-control" id="wedding-details" placeholder="Semi-formal, please leave the kids at home, etc.."></textarea>
                </div>

                <button type="submit" class="btn edit-btn">Create Wedding <i class="far fa-heart"></i></button> 
            </form>
        </div>

        <div class="col-4 logo-signup-div">
            {{!-- update with logo and remove css for icon on line-ish 142  --}}
            <i class="fas fa-heart"></i>
        </div>
    </div>
</div>

{{!-- <script src="../../public/javascript/edit-wedding.js"></script> --}}