<div class="edit-wedding-wrapper">
    <div class="row">

        <div class="col-8 edit-form">
            <form id="edit-form">
                <h3>Enter Your Wedding Information</h3>
                {{#each wedding}}
                <div class="form-group">
                    <label for="wedding-date">Date:</label>
                    <input type="date" class="form-control" id="wedding-date" name="wedding-date" placeholder="{{wedding_date}}">
                </div>

                <div class="form-group">
                    <label for="wedding-hashtag">Create A Wedding Hashtag</label>
                    <input type="text" class="form-control" id="wedding-hashtag" placeholder="{{wedding_hashtag}}">
                    <small class="form-text text-muted">Guests will use this id to find and accept invitations</small>
                </div>

                <div class="form-group">
                    <label for="wedding-location">Enter Your Wedding Location:</label>
                    <input type="text" class="form-control" id="wedding-location" placeholder="{{wedding_location}}">
                </div>

                <div class="form-group">
                    <label for="wedding-details">Enter Your Wedding Details:</label>
                    <textarea type="text" class="form-control" id="wedding-details" placeholder="{{wedding_details}}"></textarea>
                </div>
                {{/each}}

                <button type="submit" class="btn edit-btn">Create Wedding <i class="far fa-heart"></i></button> 
            </form>
        </div>

        <div class="col-4 logo-signup-div">

            <i class="fas fa-heart"></i>
        </div>
    </div>
</div>

<script src="/javascript/edit-wedding.js"></script>