<div class="gallery-wrapper" id="">
    <div class="gallery-div">
        <div class="row">
            <div class="col-12">
                <h3>Wedding Gallery</h3> 
                <small class="text-muted">Here is where you can find all of the wedding memories.</small>
            </div>
            <div class="col-12">
                <a class="btn upload-btn" href="/gallery/upload">Upload Page</a>
            </div>
        </div>
        <p>NOW THATS WHAT I CALL CONTENT</p>
    </div>

</div>




<script src="/javascript/gallery.js"></script>
