
<form name="gallery" id="uploadImageForm" enctype="multipart/form-data" method="POST">
    <input name="weddingImage" type="file" id="fileImage">
    <input name="upload" type="submit" value="Upload">
</form>

<script src="/javascript/upload.js"></script>