
<form name="gallery" id="uploadImageForm" enctype="multipart/form-data" method="POST">
    <input name="weddingImage" type="file" id="fileImage">
    <input name="upload" type="submit" value="Upload">
</form>

{{!-- <p>
    A note to the get hitched crew: cloudinary only handles 50 reqs per month for free. this only most be used for testing and then for presentation. 
</p> --}}

<script src="/javascript/upload.js"></script>