<div class="gallery-wrapper" id="">
    <div class="gallery-div">
        <div class="row">
            <div class="col-12">
                <h3 class="gallery-header">Wedding Gallery</h3> 
                <small class="text-muted">Here is where you can find all of the wedding memories.</small>
            </div>
                <div class="col-12">
                    
                </div>

            <div class="col-12 btn-wrapper">
                <a class="btn upload-btn " href="/gallery/upload">Upload Page</a>
            </div>
        </div>
    </div>

</div>


<script src="/javascript/gallery.js"></script>
