<div class="main-page-wrapper">

    <div class="cta-wrapper">


    </div>
    <div class="main-btn-wrapper">
        <a class="btn main-btns" href="/signup">Signup</a>
        <a class="btn main-btns" href="/login">Login</a>
    </div>
</div>


