<div class="main-page-wrapper">

    <div class="cta-wrapper col-12">
        <a class="btn main-btns" href="/signup">Signup</a> 
        <a class="btn main-btns" href="/login">Login</a>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/graphics/5L2A5934.png" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Make a Guestlist</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/graphics/5L2A5934.png" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Sned out Mass Invites</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    
    <div class="card" style="width: 18rem;"></div>
        <img class="card-img-top" src="/assets/graphics/5L2A5934.png" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Upload your Wedding Photos</h3>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>


