<div class="invite-wrapper">
    <div class="invite-div">
        <a class="btn back-btn" href="/dashboard"><i class="fas fa-arrow-left"></i> Dashboard</a>
        <div class="invite-form">
            <h3>Edit Your RSVP Information</h3>
            <form id="invite-form">

                <h5>Will you be attending the wedding?</h5>
                <input hidden type="radio" class="toggle-a" name="user-type" id="yes-going" value="yes" checked>
                <input hidden type="radio" class="toggle-b" name="user-type" id="no-going" value="no">
                <label for="yes-going" class="rvsp-choice toggle-a-btn"><i class="fas fa-check"></i></label>
                <label for="no-going" class="rvsp-choice toggle-b-btn"><i class="fas fa-times"></i></label>

                <div class="dropdown">
                    <h5>Pick one option for food.</h5>
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose One
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <label for="food-choice-chicken" class="dropdown-item">Chicken</label>
                        <label for="food-choice-steak" class="dropdown-item">Steak</label>
                        <label for="food-choice-fish" class="dropdown-item">Fish</label>
                        <label for="food-choice-vegetarian" class="dropdown-item">Vegetarian</label>
                        <label for="food-choice-vegan" class="dropdown-item">Vegan</label>
                    </div>
                    <input hidden type="radio" name="food-choice" value="Chicken" id="food-choice-chicken" >
                    <input hidden type="radio" name="food-choice" value="Steak" id="food-choice-steak" >
                    <input hidden type="radio" name="food-choice" value="Fish" id="food-choice-fish" >
                    <input hidden type="radio" name="food-choice" value="Vegetarian" id="food-choice-vegetarian" >
                    <input hidden type="radio" name="food-choice" value="Vegan" id="food-choice-vegan" >
                </div>

                <div class="dropdown">
                    <h5>Will you be bringing plus one?</h5>
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose One
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <label for="plusone-choice-yes" class="dropdown-item">Yes</label>
                        <label for="plusone-choice-no" class="dropdown-item">No</label>
                    </div>
                    <input hidden type="radio" name="plusone-choice" value="Yes" id="plusone-choice-yes" >
                    <input hidden type="radio" name="plusone-choice" value="No" id="plusone-choice-no" >
                </div>

                <button type="submit" class="btn rsvp-btn">Save Preferences</button> 

            </form>
        </div>
    </div>

    <div class="col-4 logo-invite-div">
        <i class="fas fa-heart"></i>
    </div>
</div>

<script src="/javascript/rsvp.js"></script>

