<div class="invite-wrapper">
    <div class="invite-div">
        <a class="btn back-btn" href="/dashboard"><i class="fas fa-arrow-left"></i> Dashboard</a>
        <div class="invite-form">
            <h3>Edit Your RSVP Information</h3>
            <form id="invite-form">

                <div class="form-group">
                    <h5>Will you be attending the wedding?</h5>
                    <input type="radio" class="" name="user-type" id="yes-going" value="yes" checked>
                    <label for="yes" class="rvsp-choice"><i class="fas fa-check"></i></label>
                    <input type="radio" class="" name="user-type" id="no-going" value="no">
                    <label for="no" class="rvsp-choice"><i class="fas fa-times"></i></label>
                </div>

                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Food Choose One
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Chicken</a>
                        <a class="dropdown-item" href="#">Steak</a>
                        <a class="dropdown-item" href="#">Fish</a>
                        <a class="dropdown-item" href="#">Vegetarian</a>
                        <a class="dropdown-item" href="#">Vegan</a>

                    </div>
                </div>

                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Plus Choose One
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Yes</a>
                        <a class="dropdown-item" href="#">No</a>
                    </div>
                </div>

                <button type="submit" class="btn rsvp-btn">Save Preferences</button> 

            </form>
        </div>
    </div>

    <div class="col-4 logo-invite-div">
        <i class="fas fa-heart"></i>
    </div>
</div>

