<div class="invite-wrapper">
    <div class="invite-div">
        <a class="btn back-btn" href="/dashboard"><i class="fas fa-arrow-left"></i> Dashboard</a>
        <div class="invite-form">
            <h3>Edit Your RSVP Information</h3>
            <form id="invite-form">

                <h5>Will you be attending the wedding?</h5>
                <input hidden type="radio" class="toggle-a" name="user-type" id="yes-going" value="yes" checked>
                <input hidden type="radio" class="toggle-b" name="user-type" id="no-going" value="no">
                <label for="yes-going" class="rvsp-choice toggle-a-btn"><i class="fas fa-check"></i></label>
                <label for="no-going" class="rvsp-choice toggle-b-btn"><i class="fas fa-times"></i></label>

                <div class="dropdown">
                    <h5>Pick one option for food.</h5>
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose One
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a data-food-type="Chicken" class="dropdown-item">Chicken</a>
                        <a data-food-type="Steak" class="dropdown-item">Steak</a>
                        <a data-food-type="Fish" class="dropdown-item">Fish</a>
                        <a data-food-type="Vegetarian" class="dropdown-item">Vegetarian</a>
                        <a data-food-type="Vegan" class="dropdown-item">Vegan</a>
                    </div>
                </div>

                <div class="dropdown">
                    <h5>Will you be bringing a plus one?</h5>
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Choose One
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a data-choice-type="Yes" class="dropdown-item">Yes</a>
                        <a data-choice-type="No" class="dropdown-item">No</a>
                    </div>
                </div>

                <button type="submit" class="btn rsvp-btn">Save Preferences</button> 

            </form>
        </div>
    </div>

    <div class="col-4 logo-invite-div">
        <i class="fas fa-heart"></i>
    </div>
</div>

<script src="/javascript/rsvp.js"></script>

