<div class="col-8 launch-wrapper">

    {{#if engaged}}

        <div class="launch-nav">
            <div class="launch-profile-pic">
                <img src="#" />
            </div>

            </div class="launch-nav-name">
                {{#each couple}}
                <h5>{{partner1_name}} & {{partner2_name}}</h5>
                {{/each}}
            </div>
        </div>

        <div class="launch-nav-btns">
            <button class="launch-nav-btn btn">My Wedding</button>
            <button class="launch-nav-btn btn">Guest List</button>
            <button class="launch-nav-btn btn">Slide Show</button>
        </div>
    
    {{/if}}

    {{#unless engaged}}

        <div class="launch-nav">
            <div class="launch-profile-pic">
                <img src="#" />
            </div>

            <div class="launch-nav-name">
                {{#each user}}
                <h5>{{full_name}}</h5>
                {{/each}}
            </div>

            <div class="launch-nav-btns">
                <button class="dashboard-nav-btn btn">Your Weddings</button>
                <button class="dashboard-nav-btn btn">Invites</button>
                <button class="dashboard-nav-btn btn">Slide Show</button>
            </div>
        </div>
    
    {{/unless}}

</div>
