@media screen and (min-width: 500px) and (max-width: 600px) {



}

@media screen and  (max-width: 500px) {
    .login-form-wrapper,
    .signup-form-wrapper,
    .edit-wedding-wrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .logo-login-div,
    .logo-signup-div,
    .logo-editwedding-div {
        width: 100%;
        height: 10em;
        border-radius: 15px 15px 0 0;
    }

    .login-form,
    .signup-form,
    .edit-form {
        border-radius: 0 0 15px 15px;
    }

    .logo-signup-div,
    .logo-editwedding-div {
        order: 1;
    }

    .signup-form,
    .edit-form {
        order: 2;
    }

}