@media screen and (min-width: 500px) and (max-width: 768px) {

    .gallery-div {
        height: auto;
        overflow: none;
    }

    .cta-wrapper {
        height: 20em;
        width: 75vh;
    }

}

@media screen and  (max-width: 500px) {
    
    footer ul {
        flex-direction: column;
    }

    .login-form-wrapper,
    .signup-form-wrapper,
    .edit-wedding-wrapper,
    .invite-wrapper {
        flex-direction: column;
        align-items: stretch;
    }

    .logo-login-div,
    .logo-signup-div,
    .logo-editwedding-div {
        width: 100%;
        height: 10em;
        border-radius: 15px 15px 0 0;
    }

    .logo-invite-div {
        display: none;
    }

    .invite-div {
        background-color: #EE81BD;
        width: 100%;
        border-radius: 15px 15px 15px 15px;
        padding: 1em;

    .login-form,
    .signup-form,
    .edit-form {
        border-radius: 0 0 15px 15px;
    }

    .logo-signup-div,
    .logo-editwedding-div {
        order: 1;
    }

    .signup-form,
    .edit-form {
        order: 2;
    }

    .dashboard-page {
        flex-direction: column;
        align-items: stretch;
    }

    .dashboard-nav-div {
        width: 100%;
        padding-bottom: 2em;
        border-radius: 15px 15px 0 0;
    }

    .dashboard {
        border-radius: 0 0 15px 15px;
    }

    .profile-pic-div {
        margin-top: 2em;
    }

    .profile-pic-div i {
        font-size: 6em;
        color: #EE81BD;
    }

    .profile-pic-div h5 {
        font-size: 1.25em;
    }

    .gallery-div {
        height: auto;
        overflow: none;
    }

    .gallery-header {
        flex-direction: column;
    }

    .gallery-div {
        height: auto;
        overflow: none;
    }

    .cta-wrapper {
        height: 10em;
        width: 35vh;
    }

}
