/* over all styles for the entire site  */
:root {

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}


body {
    background-color: #F4ABD3;
    height: 80vh;
}

header, 
footer {
    padding: 15px 55px;
    display: flex;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.75em;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    background: -webkit-linear-gradient(
        5deg,
        #E32D91,
        #9d93fc
    );
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: .3em;
    margin: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li a{
    padding: 5px;
    color: #fff;
    text-decoration: none;
}

header ul li a:hover,
footer ul li a:hover  {
    color: #E32D91;
}

.logout-btn {
    background-color: #fff;
    color: #E32D91;
    cursor: pointer;
    margin-left: 0.3em;
}

.logout-btn:hover {
    color: #EE81BD;
    box-shadow: 0 0 8px 3px #fff;
    transition: box-shadow 0.5s ease-out;
}

main {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


footer ul.misc-ul,
header ul.misc-ul {
    margin-bottom: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

footer h3 {
    font-size: 25px;
    color: #E32D91;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    margin-right: 25px;
}

footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul li a {
    color:#fff;
    text-decoration: none;
    margin: 5px;
}

/* Homepage Styles Start */

.main-page-wrapper {
    display: flex;
    flex-direction: column;
    margin: 3em 0;
    justify-content: center;
    align-items: center;
}

.cta-wrapper {
    background-image: url('/assets/graphics/ghmainpagelogogif.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 29em;
}

.main-btn-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.main-btns {
    background-color: #E32D91;
    color: #fff;
    margin: 1em 0 0 1em;
}

.main-btns:hover {
    color: #fff;
    background-color: #EE81BD;
    box-shadow: 0 0 8px 3px #EE81BD;
    transition: box-shadow 0.5s ease-out, background-color 0.5s ease-out;
}

/* below are the form styles */

.login-form-wrapper {
    margin: 3rem;
}

.logo-login-div {
    background-color: #EE81BD;
    width: 25em;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
}

.logo-login-div i.fa-heart,
.logo-signup-div i.fa-heart {
    font-size: 5em;
    color: #fff;
}

.logo-login-div i.fa-heart:hover,
.logo-signup-div i.fa-heart:hover {
    font-size: 5em;
    color: #fff;
    text-shadow: 0px 0px 10px #FFFFFF;
    transition: text-shadow 0.5s ease-out;
}


.login-form,
.signup-form
.edit-form {
    background-color: #E32D91;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
}

.login-btn,
.signup-btn,
.upload-btn,
.back-btn, 
.edit-btn {
    background-color: #fff;
    color: #E32D91;
    cursor: pointer;
}

.login-btn:hover,
.signup-btn:hover,
.main-btns:hover,
.upload-btn:hover,
.back-btn:hover,
.edit-btn:hover {
    color: #EE81BD;
    box-shadow: 0 0 8px 3px #fff;
    transition: box-shadow 0.5s ease-out;
}

.back-button-wrapper {
    margin: 1em 0 0 1em;
}

.edit-form a.btn {
    margin-bottom: 1em;
}

.login-form h3,
.signup-form h3,
.gallery-header h3,
.upload-form-wrapper h3 {
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #fff;
}

.logo-signup-div {
    background-color: #EE81BD;
    width: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    margin: 3rem 0;
}

.signup-form,
.edit-form,
.signup-form {
    background-color:#f4abd3;
    width: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
    padding: 3em;
    margin: 3rem 0;
}


.signup-form h4 {
    color: #fff;
}


.user-type {
    color: #EE81BD;
    font-size: 5em;
    margin-left: 0.25em;
}

.toggle-a:checked ~ .toggle-a-btn,
.toggle-b:checked ~ .toggle-b-btn{
    color: #ffffff;
    box-shadow: none;
}


.toggle-a:checked ~ .toggle-a-content,
.toggle-b:checked ~ .toggle-b-content{
    display: block;
    opacity: 1;
}
.toggle-a ~ .toggle-a-content,
.toggle-b ~ .toggle-b-content{
    display: none;
}

/* Dashboard Styling Starts */

.dashboard-page {
    margin: 5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.dashboard-nav-div {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* justify-content: space-evenly; */
    background-color: #EE81BD;
    color: #FFFFFF;
    border-radius: 15px 0px 0px 15px;
    width: 15em;
}

.profile-pic-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    padding: .5em;
    margin-top: 5em;
}

.dashboard-title h2 {
margin-bottom: 1em;
}

.details-span {
    color: #EE81BD;
    font-size: 0.75em;
}

.profile-pic-div h5 {
    font-size: 1.75em;
}

.profile-pic-div i {
    font-size: 6em;
}

.span-anpersan {
    color: #e32d91;
}

.nav-btns-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.dashboard-nav-btn {
    background-color: #FFFFFF;
    color: #E32D91;
    margin: 1em;
}

.dashboard-nav-btn:hover {
    background-color: #FFFFFF;
    color:  #E32D91;
    box-shadow: 0 0 8px 3px #fff;
    transition: box-shadow 0.5s ease-out;
}

.dashboard {
    background-color: #E32D91;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    padding: 1.5em;
    width: 35em;
    height: 35em;
}

.dashboard-title h2 {
    text-align: center;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #fff;
    text-shadow: 1px 1px 5px white;
}


.dashboard-subtitle {
    color: #FFFFFF;
    text-align: center;
}

.dashboard-widget {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}

.guest-border {
    border: solid 10px #EE81BD;
}

.my-wedding-info-widget-info {
    text-align: center;
    color: #FFFFFF;
}

/* gallery page styling  */
.gallery-wrapper {
    margin: 5em 0;
}

.gallery-div {
    background-color: #EE81BD;
    width: 75em;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 15px 15px 15px 15px;
    overflow: auto;
}

.gallery-header {
    display: flex;
    justify-content: space-between;
}

.gallery-div .row {
    margin: 1em;
}

.gallery-img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 25px 25px;
    cursor: zoom-in;
}

.gallery-img:hover {
    opacity: 50%;
    transition: opacity 0.5s ease-out;
}

.upload-btn {
    margin-top: 0.5em;
}

.carousel img {
    max-height: 60vh;
    object-fit: cover;
}

.gallerymodal-btn {
    background-color: #E32D91;
    color: #fff;
}

.gallerymodal-btn:hover {
    color: #fff;
    background-color: #EE81BD;
    box-shadow: 0 0 8px 3px #EE81BD;
    transition: box-shadow 0.5s ease-out, background-color 0.5s ease-out;
}

.carousel-control-bg {
    background-color: #EE81BD;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    background-size: 20px 20px;
}

.carousel-inner {
    border-radius: .75em;
}

/* upload to wedding gallery styles */

.upload-page-wrapper {
    background-color: #EE81BD;
    width: 50em;
    height: 29em;
    margin: 5rem 0;
    display: flex;
    border-radius: 15px 15px 15px 15px;
}

.upload-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upload-form-wrapper small {
    margin-bottom: 1em;
}

form.custom-file {
    width: 85%;
}

