/* over all styles for the entire site  */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-color: #F4ABD3;
    height: 100%;
}

header, 
footer {
    padding: 15px 55px;
    display: flex;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.75em;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    background: -webkit-linear-gradient(
        5deg,
        #E32D91,
        #a2bbff 
    );
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: .3em;
    margin: 0;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul li a{
    padding: 5px;
    color: #fff;
    text-decoration: none;
}

header ul li a:hover,
footer ul li a:hover  {
    color: #E32D91;
}

.logout-btn {
    background-color: #fff;
    color: #E32D91;
    cursor: pointer;
    margin-left: 0.3em;
}

.logout-btn:hover {
    color: #EE81BD;
    box-shadow: 0 0 8px 3px #fff;
    transition: box-shadow 0.5s ease-out;
}

main {
    background-color: #fff;
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer ul.misc-ul,
header ul.misc-ul {
    margin-bottom: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer h3 {
    font-size: 25px;
    color: #E32D91;
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 0.2rem;
    margin-right: 25px;
}

footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul li a {
    color:#fff;
    text-decoration: none;
    margin: 5px;
}


/* below are the styles for the login page  */

.email-form-wrapper {
    background-color: #fff;
    
}

.logo-login-div {
    background-color: #EE81BD;
    width: 25em;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0px 0px 15px;
}

.logo-login-div i.fa-heart {
    font-size: 5em;
    color: #fff;
    text-shadow: 0px 0px 10px #FFFFFF

}

.login-form {
    background-color: #a2bbff;
    width: 25em;
    height: 25em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
}

.login-btn {
    background-color: #fff;
    color: #E32D91;
    cursor: pointer;
}

.login-btn:hover {
    color: #EE81BD;
    box-shadow: 0 0 8px 3px #fff;
    transition: box-shadow 0.5s ease-out;
}

.login-form h5 {
    font-family: 'Pacifico', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #fff;
}


